.container_navbar {
  position: fixed;
  top: 0;
  width: auto;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.container_navbar_img {
  height: 2.6rem;
  margin: 20px 0px 20px 30px;
  cursor: pointer;
}

.container_navbar_content_navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86%;
}

.container_navbar_navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container_navbar_navigation_items {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 20px;
  padding: 8px;
}

.container_navbar_navigation_items:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: background-color 0.3s;

  .container_navbar_navigation_items_icon {
    transform: scale(1.04);
    transition: transform 0.3s;
  }

  .container_navbar_navigation_label h1 {
    font-weight: 500;
  }
}

.container_navbar_navigation_items_icon {
  font-size: 1.5rem;
  display: flex;
  padding: 0.3rem;
}

.container_navbar_navigation_items_icon img {
  width: 1.5rem;
  border-radius: 100%;
}

.container_navbar_navigation_label {
  font-size: 0.5rem;
  padding-left: 1rem;
}

.container_navbar_navigation_label h1 {
  font-weight: 300;
}