.container {
  display: flex;
  margin: 2rem 0 0 19rem;
  overflow: hidden;
  width: 39.5rem;
  height: 6.8rem;
}

.container_story {
  height: 60px;
  width: 60px;
  padding: 0.9rem;
}


.container_img {
  width: 74px;
  height: 74px;
  background: rgb(190, 201, 14);
  background: linear-gradient(39deg, rgb(215, 230, 14) 15%, rgb(241, 14, 154) 46%, rgb(203, 102, 228) 59%);
  border-radius: 50px;
}

.container_story img {
  margin: 2px;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: 3px solid white;
}

.container_name {
  width: 77px;
  height: 16px;
}

.container_name p {
  font-size: small;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left_button {
  position: absolute;
  left: 58.5rem;
  top: 4.4rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.left_button svg {
  margin-top: 4px;
  opacity: 0.5;
}